li{
  font-size: 18px;
  letter-spacing: 2px;
}
main > h1{
  font-size: 52px !important;
    margin: 0 0 32px !important;
    padding: 0 0 22px !important;
    line-height: 62px !important;
    position: relative !important;
}
img{
  max-width: 403px;
  max-height: 540px;
}
.interviewee img{
max-width: 260px;
border: 10px solid gray;

}
.interviewee{
  margin-top:80px;
  margin-bottom: 20px;
}
.sj-bannercontent h1 {
  font-size: 52px !important;
  margin: 0 0 32px !important;
  padding: 0 0 22px !important;
  line-height: 62px !important;
  position: relative !important;
}