<div class="container p-0">
<!--************************************
					Home Banner Start
			*************************************-->
			<div id="sj-homebanner" class="sj-homebanner" *ngIf="issue !== null">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6">
							<div class="sj-postbook">
								<figure class="sj-featureimg">
									<div class="sj-bookimg" style="margin-top:40px;">
										<div class="sj-frontcover"><img [src]="imageToShow"></div>
									</div>
								</figure>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6">
							<div class="sj-bannercontent">
								<h1>{{issue?.title}}</h1>
								<div class="sj-description">
									<p>{{issue?.description}}</p>

								</div>
							</div>

            <ul>
              <li *ngFor="let sub of issue?.submissions">{{sub?.title }} by {{sub?.author}} <i class="fa fa-download"><a href="javascript:void(0);" (click)="download(sub)">Download</a></i></li>
            </ul>
						</div>
            <div class="col-12">
              <div class="interviewee text-center">
				  <p style="text-align:left;display: block;font-size: 28px;font-weight: bold;
                line-height: 32px;">Interviewee this month</p>
				<p style="text-align:left;display: block;font-size: 22px;
                line-height: 32px;">{{issue?.intervieweename}}</p>
				<img [src]="imageToShow1"></div>
            </div>
					</div>
				</div>
			</div>
			<!--************************************
					Home Banner End
			*************************************-->
      <h3 *ngIf="issue === null" class="text-center">No Releases Found :(</h3>
    </div>
